@font-face {
    font-family: ggsansB;
    src: url(https://res.cloudinary.com/dn2r9xax5/raw/upload/v1757219554/ggsansBold_kruxsb.ttf);
}

@font-face {
    font-family: ggsansSBold;
    src: url(https://res.cloudinary.com/dn2r9xax5/raw/upload/v1757219555/ggsansSemiBold_gbra1j.ttf);
}
@font-face {
    font-family: dune;
    src: url(https://res.cloudinary.com/dn2r9xax5/raw/upload/v1757219554/herbertian_ttzf23.ttf);
}
@font-face {
    font-family: jp;
    src: url(https://res.cloudinary.com/dn2r9xax5/raw/upload/v1757219556/jp_voumbz.ttf);
}
@font-face {
    font-family: inv;
    src: url(https://res.cloudinary.com/dn2r9xax5/raw/upload/v1757219564/woodBlock_oslh6z.otf);
}
@font-face {
    font-family: arc;
    src: url(https://res.cloudinary.com/dn2r9xax5/raw/upload/v1757173279/arcaneNine_rts2lk.otf);
}
@font-face {
    font-family: twd;
    src: url(https://res.cloudinary.com/dn2r9xax5/raw/upload/v1757219554/ggsansBold_kruxsb.ttf);
}
@font-face {
    font-family: rm;
    src: url(https://res.cloudinary.com/dn2r9xax5/raw/upload/v1757219553/getSchwifty_cx2lcq.ttf);
}
@font-face {
    font-family: rdr;
    src: url(https://res.cloudinary.com/dn2r9xax5/raw/upload/v1757219557/rdr_xzcmou.ttf);
}
.dune {
    font-family: dune;
}
.jurassic {
    font-family: jp;
    letter-spacing: 2px;
    font-weight: 0;
    font-size: 45px;
}
.invincible {
    font-family: inv;
}
.arcane {
    font-family: arc;
}
.twd {
    font-family: twd;
}
.ricknMorty {
    font-family: rm;
}
.rdr {
    font-family: rdr;
}
body {
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: ggsansSBold;
    color: white;
}
.main {
    position: absolute;
    height: 640px;
    width: 525px;
    border-radius: 40px;
    overflow: hidden;

    background: linear-gradient(to bottom, #0b131a 30%, #7b8973 100%);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}
.banner {
    /* background-image: url("assets/images/banners/default.png"); */
    height: 180px;
    max-width: 525px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.avatar-frame {
    position: relative;
    margin-top: -60px;
    margin-left: 15px;
    width: 120px; /* size of your largest image */
    height: 120px;
}

.status-icon {
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    z-index: 2;
}

.avatar,
.avatar-deco {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    z-index: 1; /* behind */
    object-fit: cover;
}

.avatar-deco {
    height: 118px;
    z-index: 2; /* on top */
}
.profile-body {
    padding: 0 25px 20px;
}
.name h1 {
    font-family: ggsansB;
    margin: 0;
    opacity: 95%;
    font-size: 40px;
}

.name p {
    margin: -5px auto;
    font-size: 20px;
    opacity: 70%;
    font-weight: 100;
}
.interests h4,
.about h4 {
    font-size: 20px;
    margin: 20px 0 0;
    opacity: 95%;
}
.interests p,
.about p {
    margin: 0;
    font-size: 25px;
    opacity: 95%;
}

.socials {
    position: absolute;
    right: 10px;
    top: 180px;
    height: 50px;
    width: 250px;
    /* gap: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials .icons {
    height: 25px;
    width: 25px;
}

.interest-list {
    display: flex;
    flex-wrap: wrap;
}
.interest-item {
    width: auto;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
    gap: 5px;
    /* background-color: rgba(255, 255, 255, 0.85); */
}
@media (max-width: 525px) {
    .main {
        width: 100vw;
        border-radius: 0px;
        height: 100vh;
    }
    .banner {
        height: 140px;
    }
    .avatar {
        height: 76.5px;
        width: 76.5px;
    }
    .avatar-deco {
        height: 90px;
    }
    .avatar-frame {
        height: 100px;
        width: 100px;
        margin-top: -50px;
    }
    .socials {
        top: 135px;
        width: 200px;
    }
    .socials .icons {
        height: 20px;
        width: 20px;
    }
}
@media (max-width: 400px) {
    .banner {
        height: 120px;
    }
    .socials {
        top: 115px;
    }
}
